{% extends "base.html" %}
{% block content %}

  <h5>This Website is not design for public use this is just for learning purpose. I have design this Website with the guidance of "Jose Portilla"</h5>
  <h3>Star Social</h3>
  <p>This is social outer space fan community site.</p>
  <p>This site contain following features:</p>
  <ul>
    <li>This Website is design on Django Framework.</li>
    <li>Multiple Users and Authorizations.</li>
    <li>User can create group.</li>
    <li>User can post in a group (similar to tweet).</li>
    <li>Authorizations is mendetory to create groups and posts</li>
    <li>Any one can see post and groups without Authorizations</li>
    <li>Linking user profiles with @ symbol.</li>
    <li>Multiple Applications</li>
  </ul>
{% endblock %}
